:root {
  --background: linear-gradient(45deg, #02001f, #1f1b4e);
  --text-color: #ff2c75;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--text-color);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.item-item {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}
